modules = ["java", "java-17", "java-21", "postgresql-16", "maven", "java-11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java Application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Application Poissonnerie"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Application Java"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Database Init"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java Build"

[[workflows.workflow]]
name = "Java Application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile"

[[workflows.workflow]]
name = "Application Poissonnerie"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile exec:java -Dexec.mainClass='com.poissonnerie.Main' -Dexec.systemProperties.SKIP_SIRET_VALIDATION=true -Djava.awt.headless=false -Dexec.cleanupDaemonThreads=false"

[[workflows.workflow]]
name = "Application Java"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile exec:java -Dexec.mainClass=\"com.poissonnerie.Main\" -Dexec.systemProperties.SKIP_SIRET_VALIDATION=true -Djava.awt.headless=false -Dexec.cleanupDaemonThreads=false"

[[workflows.workflow]]
name = "Database Init"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile exec:java -Dexec.mainClass='com.poissonnerie.util.DatabaseManager' -Dexec.args='init'"

[[workflows.workflow]]
name = "Java Build"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile"

[deployment]
run = ["sh", "-c", "mvn clean compile"]
